@import "../styles/variables.scss";

body{
    background: $PalMain;
    color: $PalText;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    color: $PalTrim;
    margin-left: 5px;
    margin-right: 5px;
}

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: $PalPlate;
    width: 100%;
}

h1, h2, h3{
    font-family: $titleFont;
    font-variant: $s-caps;
}

p{
    font-family: $bodyFont;
    font-size: 18px;
}

header{
    background: $PalPlate;
}

button {
    @include std_btn();
}