
// COLOUR Pallet for project.
$PalMain: rgb(155,246,255); //background
$PalPlate: rgb(160, 196, 255); //divs atop bg
$PalTrim: rgb(202, 255, 191); //border colour
$PalText: rgb(53, 55, 82); //text colour
$PalFrame: rgb(255, 198, 255); //div atop div

// FONTS
$titleFont: Arial, Helvetica, sans-serif; //for h1 etc
$bodyFont: Courier, Helvetica, sans-serif; //for paras

// FONT MODIFIERS
$s-caps: small-caps; //shorthand for font-variation

// SPACING
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// BORDERS
$base-border-thickness: 1px;
$base-radius: 20px;

// BOX-SHADOW
$base-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);

// FONT SIZES
$base-font-size: 1rem;

// MIXINS - Used to re-use css rules for multiple elements
@mixin std_btn($bgColour, $fontSize) {
    // Rules for a standard buttong
    width: 100px;
    height: 50px;
    background-color: $bgColour;
    border: none;
    border-radius: 7px;
    color: $PalText;
    font-size: $fontSize; 
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);

}