@import "../scss/variables";
@import "../../components/card";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');


body{
    background: $PalMain;
    color: $PalText;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    color: lightcoral;
    margin-left: 5px;
    margin-right: 5px;
}

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: $PalPlate;
    width: 100%;
}

h1, h2, h3{
    font-family: 'Heebo', sans-serif;
    font-variant: $s-caps;
}

p{
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
}

button{
    @include std_btn(red,16px);
    &:hover{
        animation-name: "AN_btnHover";
        animation-duration: 2s;
    }
}

.optBtn{
    @include std_btn(blue, 16px);
    animation: AN_btnHover 2s;
}

@keyframes AN_btnHover {
    to {background-color: rgb(200,100,100)};
} 

header{
    background: $PalPlate;
}

header button{
        @include std_btn(white, 16px);
}