@import "../scss/variables";
@import "../../components/card";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');


body{
    background: $PalMain;
    color: $PalText;
}

a{
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    color: lightcoral;
    margin-left: 5px;
    margin-right: 5px;
}

.nacCard{
    width: 150px;
    height: 150px;
    background: none;
    border: grey 1px inset;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 8px;
    margin: 10px;
    padding: 20px;
    transition: 0.2s ease-out;

    &:hover{
        border: white 1px inset;
        box-shadow: rgba(0,0,0,0.8) 2px 2px 8px;

    }
}

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: $PalPlate;
    width: 100%;
}

h1, h2, h3{
    font-family: 'Heebo', sans-serif;
    font-variant: $s-caps;
}

p{
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
}

button{
    @include std_btn(red,16px);
    &:hover{
        animation-name: "AN_btnHover";
        animation-duration: 2s;
    }
}

.optBtn{
    @include std_btn(blue, 16px);
    transition: 0.3s;
    color: lightgreen;

    &:hover{
        background-color: rgb(60,60,255);
        rotate: (-20deg);
        color: white;
        font-weight: bolder;
        border: white 1px solid;
        box-shadow: rgba(0,0,0,0.7) 4px 4px;
    }
}

@keyframes AN_btnHover {
    to {background-color: rgb(200,100,100)};
} 

header{
    background: $PalPlate;
}

header button{
        @include std_btn(white, 16px);
}